<div
  class="m-2 p-3 mt-5 justify-content-center text-center card"
  style="width: fit-content"
>
  <label class="inline">Time per member</label>
  <div class="d-flex justify-content-center mb-3">
    <ngb-timepicker [(ngModel)]="time" [minuteStep]="5"></ngb-timepicker>
  </div>
  <div class="row d-flex justify-content-center">
    <span
      class="col-auto p-1"
      ngbTooltip="There has to be at least 2 members in order to start!"
      placement="bottom"
      [disableTooltip]="canStart"
    >
      <button
        class="btn btn-outline-danger m-2"
        placement="bottom"
        [openDelay]="300"
        ngbTooltip="Divide the total time (15min.) by the number of members."
        (click)="spreadTime()"
        [disabled]="!canStart"
      >
        Auto ⌛
      </button>
    </span>
    <span
      class="col-auto p-1"
      ngbTooltip="There has to be at least 2 members in order to start!"
      placement="bottom"
      [disableTooltip]="canStart"
    >
      <button
        class="btn btn-outline-success m-2"
        (click)="start()"
        [disabled]="!canStart"
      >
        Start 😁
      </button>
    </span>
  </div>
</div>
