<div class="mx-auto card p-3" style="width: 400px; display: block">
  <label class="ms-2" for="name">Member's name:</label>
  <div class="input-group">
    <input
      class="form-control"
      placeholder="Introduce the name of the new member"
      type="text"
      id="name"
      name="name"
      [formControl]="name"
      [value]="name.value | titlecase"
      (keyup.enter)="addMember()"
    />
    <div class="input-group-append">
      <button
        class="btn btn-outline-success"
        type="button"
        (click)="addMember()"
      >
        Add
      </button>
    </div>
  </div>
  <div
    class="alert alert-danger mt-2 position-absolute"
    role="alert"
    *ngIf="badName()"
  >
    The name must be between 1 and 20 characters long.
  </div>
</div>
