<div class="m-3">
  <app-daily-title></app-daily-title>
  <app-add-member
    class="m-3"
    [members]="members"
    *ngIf="stateIsReady()"
  ></app-add-member>
  <div class="row mt-3">
    <div class="col">
      <app-member-times></app-member-times>
    </div>
    <div class="col">
      <app-time-setter
        *ngIf="stateIsReady()"
        (onStart)="start($event)"
      ></app-time-setter>
    </div>
    <div class="col">
      <app-member-list [members]="members"></app-member-list>
    </div>
  </div>
</div>
