<ul class="list-group mb-2">
  <li
    class="list-group-item d-flex justify-content-between align-items-start bg-light"
  >
    <div class="ms-2 me-auto">Members:</div>
    <button
      *ngIf="showDeleteButton"
      class="badge bg-success pill rounded-pill cursor-click"
      (click)="shuffle()"
      role="button"
    >
      Shuffle 🎲
    </button>
  </li>
  <li
    *ngFor="let member of members"
    class="list-group-item d-flex justify-content-between align-items-start"
    [ngClass]="{ bold: member.isTalking }"
  >
    <div class="ms-2 me-auto">
      {{ member.name }}
    </div>
    <button
      *ngIf="showDeleteButton"
      class="badge bg-danger rounded-pill cursor-click"
      (click)="removeMember(member)"
    >
      X
    </button>
  </li>
</ul>
